.Category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Category-header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.Media-container {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px 0;
  
  display: grid;
  
  grid-template-columns: repeat(4, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  color: #333;
}

p {
  flex: 1;
  line-height: 1.4;
  color: #999;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  width: 90%;
  max-width: 1240px;
  margin: 20px 0;
}

@media (min-width: 320px) {
  .Grid-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

@media (min-width: 480px) {
  .Grid-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .Grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .Grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .Grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}